
.header{
    width: 100vw;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid rgb(196, 196, 196);
  justify-content: space-between;
  .header_logo{
    img{
      width: 25px;
    }
  }
  .menu_container{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    .menu_item{
        font-family: "grotesk-medium";
        color: #3b3b3baf;
    }
    .menu_item_selected{
        font-family: "grotesk-bold";
        color: black;

    }
  }
  }