@font-face {
  font-family: "grotesk-regular";
  src: url("../../assets/grotesk-regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "grotesk-medium";
  src: url("../../assets/grotesk-medium.ttf");
}
@font-face {
  font-family: "grotesk-bold";
  src: url("../../assets/grotesk-bold.ttf");
}
input:focus{
  outline: none;
}


.container{
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(27,255, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(247, 248, 250);
}
.title_main{
  color: #000;
  font-family: "grotesk-medium";
  align-self: flex-start;
  margin-left: 30px;
  margin-bottom: 10px;
}
.form_container {
  background-color: white;
  border-radius: 25px;
  margin: 15px;
  margin-top: 50px; 
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    .select_account{
    align-self: center;
  }
  .input_container {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(247, 248, 250);
    background-color: white;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
  }
  .input_label {
    padding-left: 8px;
    font-size: 15px;
    color: rgb(86, 90, 105);
    font-family: "grotesk-regular";
    margin-bottom: 15px;
  }
  .input_amount {
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    height: 60px;
    width: 90%;
    
  }
  .submit_button {
    width: 88%;
    font-family: "grotesk-medium";
    margin: 10px;
    border-radius: 25px;
    height: 70px;
    background-color: #defcf1;
    color:#07ba79;
    margin-bottom: 30px;

  }
  .submit_button_active{
    width: 88%;
    font-family: "grotesk-medium";
    margin: 10px;
    border-radius: 25px;
    height: 70px;
    background-color: #defcf1;
    color:#07ba79;
    margin-bottom: 30px;
    color: white;
    animation: pulse 2s infinite;
  }
  @keyframes pulse {
    0% {
      background-color: #defcf1;
    }
    100% {
      background-color: #69f8c4;
    }
  }
}
