@font-face {
  font-family: "grotesk-regular";
  src: url("../../assets/grotesk-regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "grotesk-medium";
  src: url("../../assets/grotesk-medium.ttf");
}
@font-face {
  font-family: "grotesk-bold";
  src: url("../../assets/grotesk-bold.ttf");
}
input:focus {
  outline: none;
}

.container {
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    rgba(27, 255, 0, 0.1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(247, 248, 250);
}
.title_group {
  display: flex;
  padding: 10px;
  align-self: flex-start;
  margin-bottom: 10px;
  .title_main {
    color: rgb(168, 168, 168);
    font-family: "grotesk-medium";
    margin-left: 20px;
  }
  .active {
    color: #000;
  }
}

.form_container {
  background-color: white;
  border-radius: 25px;
  margin: 15px;
  margin-top: 50px;
  display: flex;
  min-width: 90vw;
  max-width: 90vw;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  .select_account {
    align-self: center;
  }
  .input_container {
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(247, 248, 250);
    background-color: white;
    width: 90%;
    border-radius: 20px;
    padding: 15px;
  }
  .input_container_small {
    display: flex;
    margin: 8px;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(247, 248, 250);
    background-color: white;
    width: 90%;
    border-radius: 20px;
    padding: 8px;
  }
  .input_label {
    padding-left: 8px;
    font-size: 15px;
    color: rgb(86, 90, 105);
    font-family: "grotesk-regular";
    margin-bottom: 15px;
  }
  .input_amount {
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 30px;
    height: 60px;
    width: 90%;
  }
  .input_name {
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 50px;
    width: 90%;
  }
  .input_upi {
    align-self: center;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    height: 50px;
    width: 90%;
  }
  .submit_button {
    width: 88%;
    font-family: "grotesk-medium";
    margin: 10px;
    border-radius: 25px;
    height: 70px;
    background-color: #defcf1;
    color: #07ba79;
    margin-bottom: 30px;

    &:focus {
      outline: none;
    }
  }

  .submit_button_active {
    width: 88%;
    font-family: "grotesk-medium";
    margin: 10px;
    border-radius: 25px;
    height: 70px;
    background-color: #defcf1;
    color: #07ba79;
    margin-bottom: 30px;
    color: white;
    animation: pulse 2s infinite;
    &:focus {
      outline: none;
    }
  }
  @keyframes pulse {
    0% {
      background-color: #defcf1;
    }
    100% {
      background-color: #69f8c4;
    }
  }
}
