@font-face {
  font-family: "grotesk-regular";
  src: url("../../assets/grotesk-regular.ttf"); /* IE9 Compat Modes */
}
@font-face {
  font-family: "grotesk-medium";
  src: url("../../assets/grotesk-medium.ttf");
}
@font-face {
  font-family: "grotesk-bold";
  src: url("../../assets/grotesk-bold.ttf");
}
.container{
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(27,255, 0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(247, 248, 250);
}
.transfer_row {
  margin-top: 20px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;

  .coin_profile {
    margin-left: 30px;
    border-radius: 50%;
    border: 5px solid blue;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: bolder;
  }
  .transfer_name_group {
    display: flex;
    flex-direction: column;
    .transfer_name {
      font-family: "grotesk-bold";
      margin-left: 10px;
      font-weight: medium;
    }
    .transfer_date {
      font-family: "grotesk-medium";
      margin-left: 10px;
      color: #cdd7df;
    }
  }
  .transfer_amount_credit {
    font-family: "grotesk-medium";
    margin-left: auto;
    font-size: 20px;
    color: green;
    margin-right: 40px;
  }
  .transfer_amount_debit {
    font-family: "grotesk-medium";
    margin-left: auto;
    color: red;
    font-size: 20px;
    margin-right: 40px;
  }
}
.pl_header{
background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 10px;
padding: 10px;
display: flex;
justify-content: center;
margin:10px;
margin-top: 20px;
width: 85vw;
height: 120px;
color: white;
.title{
  margin-top: 10px;
  font-family: "grotesk-bold";
  font-size: 20px;
}
.pl{
  color: white;
  font-family: "grotesk-medium";
  font-size: 30px;
}
}
